{% extends 'notehub/base_layout.html' %}

{% block content %}
    <ul>
        <li>
            <form class="panel-link" action="{% url 'notehub:user_panel' %}" method="post">
                {% csrf_token %}
                <button type="submit">Home</button>
            </form>
        </li>
    </ul>
    <hr />
    <h1>Add Exam</h1>
    <form class="site-form"  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Upload">
    </form>
{% endblock %}