{% extends 'notehub/base_layout.html' %}

{% block content %}
    <ul>
        <li>
            <form class="panel-link" action="{% url 'notehub:user_panel' %}" method="post">
                {% csrf_token %}
                <button type="submit">Home</button>
            </form>
        </li>
    </ul>
    <div class="document-detail">
        <div class="document">
            <h2>{{ document.name }}</h2>
            <p>{{ document.subject }}</p>
            <p>{{ document.content }}</p>
        </div>

    </div>

{% endblock %}