
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="{% static "style/base.css" %}" />
     <title>{% block title %} Home{% endblock %}</title>
</head>
<body>
<div id="header">
     {% block header %}
     {% endblock %}
</div>
<div id="content">
     {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
     {% endblock %}
</div>
<a href="/admin">Access as Admin</a>
<hr />
<a href="/signup">Register</a>
<hr />
<a href="/login">Sign in</a>
<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>
